@font-face {
    font-family: "Clash Display";
    src: url("fonts/ClashDisplay-Regular.ttf");
}

@font-face {
    font-family: "Satoshi";
    src: url("fonts/Satoshi-Regular.ttf");
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}



.hero {
    height: 704px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero__container {
    position: absolute;
    top: 130px;
    right: 80px;
    float: right;
    z-index: 10;

    max-width: 513px;
    min-height: 350px;

    background: #FFF;
    display: flex;
    padding: 48px 61px 46px 56px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 157px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero__text h1 {
    color: #22202E;

    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.hero__text p {
    color: #5B5676;

    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button {
    width: 106px;
    height: 24px;
    display: flex;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
}

.button a {
    color: #2A254B;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
}

.dark {
    background: rgba(249, 249, 249, 0.15) !important;
}

.dark a {
    color: var(--White, #FFF);
}



.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.features__title {
    color: var(--Dark-Primary, #2A254B);

    /* Headings / H3 */
    font-family: Clash Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 33.6px */
}

.features__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 22px;
    row-gap: 26px;
    flex-wrap: wrap;
    padding-bottom: 82px;
    padding-top: 36px;
}

.features__card {
    background: var(--Light-Grey, #F9F9F9);
    display: flex;
    width: 209px;
    height: 148px;
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.features__card h3 {
    color: var(--Dark-Primary, #2A254B);

    /* Headings / H4 */
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.features__card p {
    color: var(--Dark-Primary, #2A254B);

    /* Body/Medium */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.listings {
    padding-top: 28px;
    padding-bottom: 40px;
    /* padding-left: 80px;
    padding-right: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.listings__cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.listings__card img {
    width: 305px;
    height: 375px;
}

.listings__name {
    padding-top: 24px;
    color: var(--Dark-Primary, #2A254B);
    /* Headings / H4 */
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.listings__price {
    padding-top: 8px;
    color: var(--Dark-Primary, #2A254B);
    /* Body / Large */
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.features2 {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.features2 img {
    width: 630px;
    height: 478px;
}

.features2__text-block {
    height: 360px;
    width: 495px;

    background: var(--Dark-Primary, #2A254B);
    padding: 64px 75px 54px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.features2__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features2__text h2 {
    color: #FFF;
    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features2 p {
    color: #FFF;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-up {
    background: center / cover no-repeat url("img/bae4257d89397ead63485f276489b3fa.jpg");
    /* background: url("img/bae4257d89397ead63485f276489b3fa.jpg"), lightgray 0px -314.604px / 100% 243.29% no-repeat, url("img/bae4257d89397ead63485f276489b3fa.jpg"), lightgray 50% / cover no-repeat, url("img/bae4257d89397ead63485f276489b3fa.jpg"), lightgray 50% / cover no-repeat, url("img/bae4257d89397ead63485f276489b3fa.jpg"), lightgray 50% / cover no-repeat, url("img/bae4257d89397ead63485f276489b3fa.jpg"), lightgray 50% / cover no-repeat; */
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up__title {
    width: 494px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-up__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.sign-up__info h2 {
    color: var(--White, #FFF);
    text-align: center;

    /* Headings / H2 */
    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 44.8px */
}

.sign-up__info p {
    color: var(--White, #FFF);
    text-align: center;

    /* Body / Large */
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.sign-up__benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 26px;
}

.sign-up__benefit {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.sign-up__benefit p {
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.sign-up__input {
    margin-left: 11px;
    margin-right: 11px;
}

.input {
    display: flex;
    flex-direction: row;
    height: 56px;
}

.dark-input .input__field {
    background: rgba(255, 255, 255, 0.15);
}

.dark-input .input__field p {
    color: var(--White, #FFF);
    opacity: 1;
}

.dark-input .input__button {
    background: var(--White, #FFF);
}

.dark-input .input__button p {
    color: #2A254B;
}

.sign-up__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.input__field {
    background: var(--Light-Grey, #F9F9F9);
    display: flex;
    align-items: center;
    padding-left: 32px;
    width: 100%;
}

.input__field p {
    color: var(--Dark-Primary, #2A254B);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.2;
}

.input__button {
    display: flex;

    height: 100%;
    align-items: center;
    gap: 10px;
    background: var(--Dark-Primary, #2A254B);
}

.input__button p {
    color: var(--White, #FFF);
    /* padding-left: 32px;
    padding-right: 32px; */
    width: 128px;
    /* Body/Medium */
    text-align: center;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.footer {
    min-height: 380px;
    background: var(--Dark-Primary, #2A254B);
}

.footer__content {
    display: flex;
    flex-direction: row;
    column-gap: 109px;
    row-gap: 40px;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 58px;
    flex-wrap: wrap;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__nav h3 {
    color: var(--White, #FFF);
    font-family: Clash Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__nav a {
    text-decoration: none;
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__mail {
    width: 627px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__mail p {
    color: var(--White, #FFF);
    font-family: Clash Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__line {
    margin-top: 48px;
    margin-left: 80px;
    margin-right: 83px;
    height: 1px;
    background: #4E4D93;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 83px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.footer__copyright p {
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}